// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  background-color: #ececec !important;
}

.fc-view-container {
  table {
    border-color: #4c6786 !important;
    .fc-scroller.fc-day-grid-container {
      overflow-y: hidden !important;
    }
    tr {
      td, th {
        border-color: #4c6786 !important;
      }
    }
  }
}

.navbar.navbar-inverse.navbar-static-top {
  .navbar-nav > .open {
    background-image: linear-gradient(#4c6786, #375678 50%, #32506e);
    > a {
      background-color: transparent;
    }
  }

  div.container-fluid.navbar-container {
    .navbar-header {
      a.navbar-brand {
        padding-left: 0;
      }
    }

    .navbar-toggle:focus,
    .navbar-toggle:hover {
      background-color: transparent;
      background-image: linear-gradient(#4c6786, #375678 50%, #32506e);
    }
    div.col-lg-10.col-lg-offset-1 {
      display: flex;
      align-items: center;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  }

  a.img.img-thumbnail.nav-avatar {
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
  }

  div.collapse.navbar-collapse#app-navbar-collapse {
    flex-direction: row;
    flex: 1;
    ul.dropdown-menu {
      background-color: transparent;
      background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
      > li > a:hover {
        background-color: transparent;
        background-image: linear-gradient(#4c6786, #375678 50%, #32506e);
      }
    }
    ul.nav.navbar-nav > li > a {
      text-align: center;

    }
    :hover {
      color: #ffff00;
    }

    ul.nav.navbar-nav > li > a.current {
      color: yellow;
      border-bottom: 2px solid #ffff00;
    }

    ul.nav.navbar-nav.navbar-right {
      height: 100px;
      margin-left: auto;
      display: flex;
      align-items: center;
      > li:last-of-type a {
        padding-right: 5px;
      }
    }

  }

  filter: none;
  border: 1px solid #345578;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
  a {
    color: rgba(219, 219, 219, 0.85);
  }
}

div.panel.panel-primary {
  border: 1px solid #345578;
  > div.panel-heading {
    background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7bbdf7', endColorstr='#ff208ff2', GradientType=0);
    filter: none;

    div.user-controls {
      padding: 0;
      display: flex;
      justify-content: space-between;
      form {
        display: flex;
        margin-left: auto;
        flex-direction: column;
        button.user-control {
          background-color: transparent;
        }
      }
    }
  }
  div.panel-body {
    textarea {
      resize: none;
      height: 100px;
    }

    .btn-file {
      position: relative;
      overflow: hidden;
    }

    input[type=file] {
      display: none;
    }

  }
}

div.input-group {
  span.input-group-btn {
    a.btn.btn-info {
      background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
      background-repeat: no-repeat;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7bbdf7', endColorstr='#ff208ff2', GradientType=0);
      filter: none;
      border: 1px solid #345578;
    }
  }
}

.required:after {
  content: " * ";
  color: #ff0000;
}

.pending {
  font-weight: bolder;
  color: #ff0000;
}

input[type='checkbox'] {
  margin-top: 12px;
}

div.search-bar {
  margin-bottom: 30px;
}

div.items-list {
  table {
    border-collapse: collapse;
    thead {
      th {
        border: 1px solid #345578;
        border-top: 1px solid #345578 !important;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
        background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
        background-repeat: no-repeat;
        filter: none;
        color: #fff;
        font-size: 12px;
        text-align: center;
      }
    }
    tbody {
      td {
        border: 1px solid #345578;
        button.btn.btn-xs.user-control {
          background-color: transparent;
          padding: 0;
          border: 0;
          color: #337ab7;
          i {
            margin: 0;
          }
        }
      }
      td.id-cell,
      td.edit-cell,
      td.trash-cell {
        text-align: center;
      }
    }
  }
}

div.pagination-container {
  display: flex;
  ul.pagination {
    margin: 0 auto;
  }
}

a.btn.btn-primary.pull-right {
  margin: 20px 0;
}

div.center-block.img.img-thumbnail.center-block.user-avatar {
  height: 200px;
  margin: 0 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#download {
  margin: 20px;
}

.user-single-button {
  margin: 20px;
}

.type-founded {
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(#6d7070, #474949 50%, #3d3f3f);
  box-shadow: -7px 9px 14px -6px #220 !important;
}

.type-selected {
  color: #fff;
  background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
  box-shadow: -7px 9px 14px -6px #220 !important;
}

.type-interview {
  color: #fff;
  background-image: linear-gradient(#7bbdf7, #3399f3 50%, #208ff2);
  box-shadow: -7px 9px 14px -6px #220 !important;
}

.type-confirmed {
  color: #fff;
  background-image: linear-gradient(#61dd45, #3cb521 50%, #36a41e);
  box-shadow: -7px 9px 14px -6px #220 !important;
}

.type-unsuitable {
  color: #fff;
  background-image: linear-gradient(#ff9c21, #d47500 50%, #c06a00);
  box-shadow: -7px 9px 14px -6px #220 !important;
}

.type-refused {
  color: #fff;
  background-image: linear-gradient(#ff1d1b, #cd0200 50%, #b90200);
  box-shadow: -7px 9px 14px -6px #220 !important;
}

div.col-md-7 {
  ul.nav.nav-tabs {
    display: flex;
    justify-content: center;
    li.nav-item {
      a.nav-link:hover {
        color: #adff2f;
      }
    }
    li.nav-item.active {
      a.nav-link {
        color: #adff2f;
      }
    }
  }
  div.tab-content {
    div.tab-pane {
      margin-top: 30px;
      img.img.img-thumbnail.img-rounded.no-candidate {
        height: 200px;
        margin: 20px auto;
        display: block;
      }
      table.candidates-table {
        td {
          vertical-align: middle;
        }
      }
    }
  }
}

#title-div {
  display: none;
}

label.add-candidates-modal {
  top: -3px
}

div.col-md-8.users-select {
  top: -10px;
}

div.interview-row {
  display: none;
}

div#status-select {
  div.inteview-checker {
    display: none;
  }
}

#upcoming-events > tbody,
tbody#history_entries {
  tr {
    border-top: 1px solid #c7c7c7;
    td {
      border: none;
    }
    td:last-child {
      padding: 0;
      text-align: right;
      display: inline-block;
      float: right;
      .label-info {
        display: block;
        vertical-align: 0;
        border-radius: 0 0 0 4px;
        margin: 0;
        width: 100%;
        padding: 5px 10px;
      }
    }
  }
}

ul.pagination,
.add-shadows {
  border: none;
  box-shadow: -7px 9px 14px -6px #220 !important;

}

div#stickers-menu {
  background-image: linear-gradient(#446e9b 50%, #3e648d, #6d94bf);
  display: flex;
  margin-bottom: 15px;
  div.panel-body {
    height: 155px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.sticker {
  margin: 0 15px 15px 0;
  width: 223px;
  height: 155px;
  padding: 5px;
  position: relative;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom-right-radius: 30px 30px;
  border-bottom-left-radius: 30px 30px;
  box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Marck Script', cursive;
  font-size: 18px;
  .fold {
    z-index: -10;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: -20px 20px 8px rgba(0, 0, 0, 0.2);
    transform: rotate(0deg) translate(40px, -20px) skew(-20deg);
  }
  .fold2 {
    width: 15px;
    height: 15px;
    z-index: 20;
    background: white;
    position: absolute;
    bottom: -9px;
    left: -6px;
    border-bottom-right-radius: 30px;
    box-shadow: -2px -3px 12px rgba(0, 0, 0, 0.5);
    transform: rotate(104deg) skew(10deg, -31deg) translate(-11px, -13px);
  }
  .ribbon {
    content: '';
    position: absolute;
    top: -10px;
    left: 30%;
    width: 70px;
    height: 20px;
    background: rgba(204, 204, 204, 0.5);
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    transform: rotate(3deg);
  }
  .sticker-control {
    visibility: hidden;
    margin-left: 5px;
    font-size: 16px;
    background: transparent;
    border: none !important;
  }

}

.sticker:hover {
  .sticker-control {
    visibility: visible;
  }
}

.sticker:before {
  content: '';
  width: 15px;
  height: 15px;
  background: #efefef;
  position: absolute;
  bottom: -9px;
  right: -6px;
  border-bottom-right-radius: 30px;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
  transform: rotate(-20deg) skew(-31deg, 10deg) translate(-13px, -13px);
}

.sticker:after {
  content: '';
  z-index: -10;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.5);
  transform: rotate(0deg) translate(-45px, -20px) skew(20deg);
}

div#loading-container {
  display: flex;
}

img.loading {
  max-height: 60px;
  margin: auto;
}

.company-info {
  width: 70%;
  text-align: justify;
}

div.error-img {
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

div.error-message {
  margin-top: 20px;
}

#create-event {
  margin: 20px 0;
}